In [1]:
import numpy as mp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
question_df=pd.read_csv("./Question_Dataset.csv")

In [5]:
question_df.head()

,Question,Option A,Option B,Option C,Option D,Correct Answer,Difficulty Level,Topic,Class,Sub Topic,Topic_number
0,What is the value of cos 30° ⋅ cos 60°?,√3/4,1/4,√3/2,1/2,A,Easy,Geometry,Class 11,Trigonometry,Topic 2
1,If 3 machines can produce 150 units in 5 hours...,300 units,400 units,500 units,600 units,C,Hard,Miscellaneous/Other Topics,Class 8,Time and Work,Topic 9
2,Determine the solutions for 3x2−5x+2=03x^2 - 5...,"2, 1/3","-2, -1/3","1/3, 2","-1/3, -2",C,Medium,Algebra,Class 10,Advanced Algebra,Topic 1
3,"Using the identity sec²θ = 1 + tan²θ, find sec...",√5,5/4,√6,5/2,A,Easy,Geometry,Class 11,Trigonometry,Topic 2
4,A card is drawn from a standard deck. What is ...,1/4,3/13,9/52,3/26,B,Medium,Statistics & Probability,Class 12,Probability and Statistics,Topic 6

In [9]:
level_df=pd.read_csv("./final_dataset.csv")

In [11]:
level_df.head()

,n_beginner,n_intermediate,n_advance,accuracy_beginner,accuracy_intermediate,accuracy_advance,%_beginner,%_intermediate,%_advance,new_beginner,new_intermediate,new_advance
0,3,4,3,0.585567,0.716942,0.278396,-0.36,0.44,-0.60,2,7,1
1,2,0,8,0.578313,1.000000,0.061586,-0.36,0.75,-0.72,3,5,2
2,6,4,0,0.046100,0.707588,1.000000,-0.72,0.44,0.75,8,2,0
3,1,4,5,0.095613,0.667447,0.448442,-0.72,0.35,-0.48,1,6,3
4,7,1,2,0.669704,0.408965,0.747877,0.35,-0.48,0.44,5,2,3

In [13]:
import pickle
with open("./Random_Forest.pkl", 'rb') as f:
    Random_Forest = pickle.load(f)

In [15]:
import pickle
with open("./ANN.pkl", 'rb') as f:
    Random_Forest = pickle.load(f)

In [23]:
question_df.groupby(["Topic_number","Difficulty Level","Class"]).agg({"Question" : "count"})

                                        Question
Topic_number Difficulty Level Class
Topic 1      Easy             Class 12        15
                              Class 9         15
             Hard             Class 7         15
             Medium           Class 10        15
                              Class 6         30
                              Class 8         30
                              Class 9         30
Topic 2      Easy             Class 11        15
                              Class 12        15
                              Class 6         15
                              Class 8         15
                              Class 9         15
             Hard             Class 11        15
                              Class 12        15
                              Class 6         15
                              Class 9         15
             Medium           Class 10        15
                              Class 11        14
Topic 3      Easy             Class 6         15
                              Class 8         15
             Hard             Class 6         15
                              Class 7         15
                              Class 8         15
             Medium           Class 10        15
                              Class 6         15
                              Class 7         45
Topic 4      Hard             Class 11        14
                              Class 12        16
Topic 5      Easy             Class 12        14
             Medium           Class 11        15
Topic 6      Easy             Class 11        15
             Hard             Class 10        15
                              Class 9          7
             Medium           Class 10        14
                              Class 12        15
                              Class 7         30
                              Class 8         13
Topic 7      Hard             Class 10        16
                              Class 6         15
             Medium           Class 9         15
Topic 8      Easy             Class 6         10
                              Class 8         15
                              Class 9         15
             Medium           Class 11        15
Topic 9      Difficulty Level Class            3
             Easy             Class 10        24
                              Class 11        15
             Hard             Class 10        15
                              Class 11        15
                              Class 12        15
                              Class 7         15
                              Class 8         15
                              Class 9         15
             Medium           Class 12        15